 // Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.meye-btn-blue{
	background: rgba(75,192,192,.4);
	border: 1px solid rgb(75,192,192);
	&:hover{
		background: rgba(75,192,192,.8);
	}
}
.meye-btn-green{
	background: rgba(75,255,152,.3);
	border: 1px solid rgb(75,255,152);
	&:hover{
		background: rgba(75,255,152,.6);
	}
}
.meye-btn-red{
	background: rgba(255,120,120,.4);
	border: 1px solid rgb(255,120,120);
	&:hover{
		background: rgba(255,120,120,.8);
	}
}

.nav-link{
	transition: 0.3s;
	&:hover{
		background: rgba(255,255,255,.1);
		color: $lightGrey !important;
	}
	&:active{
		color: white !important;	
	}
}

.btn-link{
	background: transparent;
	border-radius: 0;
	width: 100%;
	&:hover{
		text-decoration: none;
		color: $lightGrey !important;
		background: rgba(255,255,255,.1);
	}
	&:active{
		color: white !important;	
	}
}

.active a{
	color: white !important;
 	font-weight: bold  !important;
 	&:hover{
 		color: white !important;
 	}
}

.btn-outline-light {
	background: rgba(0, 0, 0, 0.25) !important;
	&:hover{
		color: #fff;
		background: rgba(0, 0, 0, 0.05) !important;
	}
}

.meye-label{
	color: #fff;
	border: solid 1px rgb(75,192,192);
	border-bottom: none;
	background: rgba(75, 192, 192, 0.2);
	
}

.meye-label-s{
	color: #fff;
	border: solid 1px rgb(75,192,192);
	background: rgba(75, 192, 192, 0.2);
	
}


.meye-calc-value{
	color: #fff;
	background: rgba(0,0,0, .8);	
	border: solid 1px rgb(0,0,0);
}