 // Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.meye-btn-blue{
	background: $blue;
	border: 2px solid rgba(50,50,50,.1); 
	&:hover{
		border: 2px solid rgba(250,250,250,.1); 
		background: $greenHover;
	}
}
.meye-btn-green{
	background: $green;
	border: 2px solid rgba(50,50,50,.1); 
	&:hover{
		border: 2px solid rgba(250,250,250,.1); 
		background: $greenHover;
	}
}

.nav-link{
	transition: 0.3s;
	&:hover{
		background: rgba(255,255,255,.1);
	}
}

.btn-link{
	background: transparent;
	border-radius: 0;
	width: 100%;
	&:hover{
		text-decoration: none;
		background: rgba(255,255,255,.1);
	}
}