 // Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.meye-btn-blue{
	background: $blue;
	border: 2px solid rgba(50,50,50,.1); 
	&:hover{
		border: 2px solid rgba(250,250,250,.1); 
		background: $greenHover;
	}
}
.meye-btn-green{
	background: $green;
	border: 2px solid rgba(50,50,50,.1); 
	&:hover{
		border: 2px solid rgba(250,250,250,.1); 
		background: $greenHover;
	}
}

.nav-link{
	transition: 0.3s;
	&:hover{
		background: rgba(255,255,255,.1);
		color: $lightGrey !important;
	}
	&:active{
		color: white !important;	
	}
}

.btn-link{
	background: transparent;
	border-radius: 0;
	width: 100%;
	&:hover{
		text-decoration: none;
		color: $lightGrey !important;
		background: rgba(255,255,255,.1);
	}
	&:active{
		color: white !important;	
	}
}

.active a{
	color: white !important;
 	font-weight: bold  !important;
 	&:hover{
 		color: white !important;
 	}
}

.btn-outline-light {
	background: rgba(0, 0, 0, 0.25) !important;
	&:hover{
		color: #fff;
		background: rgba(0, 0, 0, 0.05) !important;
	}
}

.meye-label{
	color: #fff;
	border: solid 1px rgb(75,192,192);
	border-bottom: none;
	background: rgba(75, 192, 192, 0.2);
	
}



.meye-calc-value{
	color: #fff;
	background: rgba(0,0,0, .8);	
}